/************************************************************
  Default Styles / Mobile-first Approach 
************************************************************/

/****************************************
  Overall Default Styles
****************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --violet: hsl(257, 40%, 49%);
  --white: #fff;
  --overall-padding: 25px 35px;
  --sm-padding: 20px; 
}
html {
  color: var(--white);
  text-align: center;
  background: url(/images/bg-mobile.svg) no-repeat top;
  background-color: var(--violet);
}
body {
  font-family: 'Open Sans', sans-serif;
}
footer {
  padding: var(--overall-padding);
}

/****************************************
  Header Default Styles
****************************************/
header {
  padding: var(--overall-padding);
}
nav {
  text-align: left;
}
.logo {
  width: 50%;
}

/****************************************
  Main Default Styles
****************************************/
main {
  padding: 0px 35px 50px 35px;
}
.mockups {
  width: 95%;
}
#intro h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 40px 0px 20px 0px;
}
#intro p {
  padding-bottom: var(--sm-padding);
}
.btn {
  width: 60%;
  height: 35px;
  border-radius: 20px;
  border: none;
  background: var(--white);
  color: var(--violet);
  font-size: 1rem;
}
.btn:hover {
  background: #585858;
  color: var(--white);
  cursor: pointer;
}
/****************************************
  Footer Default Styles
****************************************/
footer {
  padding: var(--overall-padding);
}
#social-media ul {
  list-style: none;
  padding-bottom: var(--sm-padding);
}
#social-media ul li {
  display: inline-flex;
  flex-direction: column;
  padding-right: 20px;
}
#social-media ul li:last-child {
  padding-right: 0px;
}
#attribution p a {
  text-decoration: none;
  color: #e884ff;
  font-weight: 700;
}
#attribution p a:hover {
  text-decoration: underline;
}

/************************************************************
  Large Phone Media Queries
************************************************************/
@media only screen and (min-width: 414px) {
  /********** Overall Styles **********/
  html {
    background: url(/images/bg-mobile.svg) no-repeat top center/cover;
    background-color: var(--violet);
  }
}

/************************************************************
  Tablet Media Queries
************************************************************/
@media only screen and (min-width: 415px) {
    /********** Header Styles **********/
    header {
      height: 15vh;
    }
    .logo {
      width: 30%;
    }
    /********** Main Styles **********/
    main {
      height: 70vh;
    }
    .mockups {
      width: 70%;
    }
    .btn {
      width: 30%;
    }
    /********** Footer Styles **********/
    footer {
      height: 15vh;
    }
}

/************************************************************
  Desktop Media Queries
************************************************************/
@media only screen and (min-width: 1280px) {
    /********** Overall Styles **********/
    html {
      background: url(/images/bg-desktop.svg) no-repeat left/cover;
      background-color: var(--violet);
    }
    /********** Header Styles **********/
    header {
      padding-left: 75px;
      padding-right: 75px;
    }
    .logo {
      width: 15%;
    }
    /********** Main Styles **********/
    main {
      display: flex;
      justify-content: space-around;
      padding: 30px 75px 0 75px; 
    }
    #mockup {
      padding-right: 60px;
    }
    .mockups {
      width: 700px;
    }
    #intro {
      text-align: left;
    }
    #intro h1 {
      font-size: 2rem;
    }
    #intro p, .btn{
      font-size: 1.25rem;
    }
    .btn {
      width: 40%;
      height: 40px;
    }
    /********** Footer Styles **********/
    footer {
      padding-right: 75px;
      padding-left: 75px
    }
    #social-media {
      text-align: right;
    }
    #social-media ul li i {
      text-align: center;
    }
    #attribution p a {
      color: #f3bdff;
    }
}

/************************************************************
  Large Desktop Media Queries
************************************************************/
@media only screen and (min-width: 1850px) {
    /********** Main Styles **********/
    #mockup {
      padding-right: 7rem;
    }
    .mockups {
      width: 55rem;
    }
    #intro h1 {
      font-size: 3rem;
    }
    #intro p, .btn {
      font-size: 1.75rem;
    }
    .btn {
      width: 30%;
      height: 45px;
    }
    /********** Footer Styles **********/
    #social-media ul li {
      font-size: 1.25rem;
    }
}

/************************************************************
  Extra Large Desktop Media Queries
************************************************************/
@media only screen and (min-width: 2560px) {
  /********** Header Styles **********/
  .logo {
    width: 12%;
  }
  /********** Main Styles **********/
  .mockups {
    width: 75rem;
  }
  .btn {
    width: 20%;
    height: 3rem;
  }
}
